body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
section{
    height: 600px;
    margin-bottom: 80px;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width h3{
    color: #828282;
    padding-bottom: 30px;
}
h1{
    font-size: 60px;
}
h1 span{
    color: tomato;
}
.half-width img{
    width: 90%;
}
.half-width p{
    margin-bottom: 70px;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 15px 25px;
    border-radius: 530px;
    color: white;
    font-weight: 600;
}
#top-image{
    float:right;
}
#middle-image img{
    width: 53%;
    padding-left: 20%;
    padding-top: 87px;
}
.about-us-area{
    background-image: url("images/middle-banner-bg.png");
    background-repeat:no-repeat;
    background-size: 100%;
    
}
#about-content{
    padding-top: 100px;
}
#about-txt{
    padding-right: 180px;
    text-align: justify;
}
.recipies h1{
    text-align: center;
}
.recipies h3{
    color: #828282;
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
    margin-bottom:50px;
}
.recipie-breakdown div{
    border-radius: 30px;
    height: max-content;
}
.three-quarter-width{
    width: 25%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
    height: 700px;
    border-radius: 30px;
    box-shadow: 2px 3px 5px tomato;
}
.recipie-images{
    
    padding-top: 30px;
}

.recipie-images img{
    width: 92%;
}
.recipie-text{
    width: 90%;
    text-align: justify;
}
.recipie-text h2{
    text-align: center;
}
.social-medias{
    margin-left: 50px;
    margin-right: 50px;
    height: 180px;
    padding-top: 50px;
    border: 2px solid tomato;
    box-shadow: 1px 2px 3px tomato;
    border-radius: 30px;
}
.social{
    float: left;
    width: 10%;         
    margin-left: 5%;
    padding-left: 7%;
    
}
.social img{
    width: 90%;
}
#followUs-text{
    display: block;
}
#followUs-text h2{
    text-align:center;
    color: #828282;
}
#social-placement{
    margin-top: 250px;
    height: 400px;
    margin-bottom:5px;
}
.footer-txt{
    padding-top: 70px;
}
.footer-txt h2{
    text-align: center;
    color: white;
}
.footer-txt p{
    text-align: center;
    color: white;
}
h2 span{
    color:tomato;
}
#footer-area{
    height: 300px;
    background-color: black;
    margin:0;
}